<!-- 


<div class="container mt-4">
    <h2>Update Employee</h2>
    <form (ngSubmit)="onSubmit()" >
      <div class="form-group">
        <label for="firstName">First Name:</label>
        <input type="text" class="form-control" id="firstName" name="firstName" [(ngModel)]="employee.firstName" required>
      </div>
      <div class="form-group">
        <label for="lastName">Last Name:</label>
        <input type="text" class="form-control" id="lastName" name="lastName" [(ngModel)]="employee.lastName" required>
      </div>
      <div class="form-group">
        <label for="salary">Salary:</label>
        <input type="number" class="form-control" id="salary" name="salary" [(ngModel)]="employee.salary">
      </div>
      <div class="form-group">
        <label for="position">Position:</label>
        <input type="text" class="form-control" id="position" name="position" [(ngModel)]="employee.position" required>
      </div>
      <div class="form-group">
        <label for="country">Country:</label>
        <input type="text" class="form-control" id="country" name="country" [(ngModel)]="employee.country" required>
      </div>
      <div class="form-group">
        <label for="phoneNumber">Phone Number:</label>
        <input type="tel" class="form-control" id="phoneNumber" name="phoneNumber" [(ngModel)]="employee.phoneNumber" required>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" name="email" [(ngModel)]="employee.email" required>
      </div>
      
      <!-- Department dropdown 
      <div class="form-group">
        <label for="department">Department:</label>
        <!-- <select class="form-control" id="department" name="department" [(ngModel)]="employee.department">

          <option value="1">Department 1</option>
          <option value="2">Department 2</option>

        </select> 
      </div>
      <button type="submit" class="btn btn-primary">Add Employee</button>
    </form>
  </div> -->
  


  <div class="w-full h-full flex justify-center items-center bg-black bg-opacity-50 overflow-x-hidden overflow-y-auto fixed top-4 left-0 right-0 md:inset-0 z-50 justify-center items-center h-modal sm:h-full " id="add-user-modal">
    <div class="relative w-full max-w-2xl px-4 h-full md:h-auto">
        <!-- Modal content -->
        <div class="bg-white rounded-lg shadow relative">
            <!-- Modal header -->
            <div class="flex items-start justify-between p-5 border-b rounded-t">
                <h3 class="text-xl font-semibold">
                    Edit employee
                </h3>
                <button (click)="onClose()" type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center" data-modal-toggle="add-user-modal">
                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>  
                </button>
            </div>
            <!-- Modal body -->
            <div class="p-6 space-y-6">
                <div action="#">
                    <div class="grid grid-cols-6 gap-6">
                        <div class="col-span-6 sm:col-span-3">
                            <label for="first-name" class="text-sm font-medium text-gray-900 block mb-2">First Name</label>
                            <input type="text" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5"  id="firstName" name="firstName" [(ngModel)]="employee.firstName" required>
                          </div>
                        <div class="col-span-6 sm:col-span-3">
                            <label for="last-name" class="text-sm font-medium text-gray-900 block mb-2">Last Name</label>
                               <input type="text" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5" id="lastName" name="lastName" [(ngModel)]="employee.lastName" required>
       
                        </div>
                        <div class="col-span-6 sm:col-span-3">
                            <label for="email" class="text-sm font-medium text-gray-900 block mb-2">Email</label>
                            <input type="email" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5"  id="email" name="email" [(ngModel)]="employee.email" required>
                        </div>
  
                        <div class="col-span-6 sm:col-span-3">
                            <label for="phone-number" class="text-sm font-medium text-gray-900 block mb-2">Phone Number</label>
                            <input type="number" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5" id="phoneNumber" name="phoneNumber" [(ngModel)]="employee.phoneNumber" required>
                        </div>
  
                        <div class="col-span-6 sm:col-span-3">
                            <label for="department" class="text-sm font-medium text-gray-900 block mb-2">Department</label>
                            <select class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5" id="department" name="department" [(ngModel)]="departmentId">
                              <option *ngFor="let department of departments" [value]="department.id">{{department.name}}</option>
                            </select>
                           </div>
                        <div class="col-span-6 sm:col-span-3">
                            <label for="company" class="text-sm font-medium text-gray-900 block mb-2">Position</label>
                            <input type="text" name="company" id="company" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5" [(ngModel)]="employee.position"   required>
                        </div>
  
                        <div class="col-span-6 sm:col-span-3">
                          <label for="Country " class="text-sm font-medium text-gray-900 block mb-2">Country</label>
                          <input type="text" name="Country" id="Country"  [(ngModel)]="employee.country" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5"    required>
                      </div>

                      <div class="col-span-6 sm:col-span-3">
                          <label for="Country " class="text-sm font-medium text-gray-900 block mb-2">Salary</label>
                          <input type="number" name="Country" id="Country"  [(ngModel)]="employee.salary" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5"    required>
                      </div>
                       
                    </div> 
                </div>
                <!-- Modal footer -->
                <div class="items-center p-4 border-t border-gray-200 rounded-b">
                    <button (click)="onSubmit()" class="text-white bg-cyan-600 hover:bg-cyan-700 focus:ring-4 focus:ring-cyan-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center" type="button">Save</button>
                </div>
            </div>
        </div>
    </div>
  </div>
  